@charset "utf-8";

/*

	IT 1430 - Web Page Development
	Spring 2023
	Exam 1 Part 2

	Reset Style Sheet
	Author: Instructor
	Date:   Today's Date  

	Filename: reset.css

*/


/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
	display: block;
	padding: 5px;
}